version: "3"

services:
  idp:
    restart: always
    image: kristophjunge/test-saml-idp
    ports:
      - "8443:8443"
      - "8080:8080"
    environment:
      SIMPLESAMLPHP_SP_ENTITY_ID: saml-poc
      SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE: http://localhost:3000/api/auth/login/saml
  nextjs:
    restart: always
    build:
      context: ./
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
